@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1B2838;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

a:hover {
  /* color: #535bf2; */
  color: #3c5580;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }
}

/* chart  */
.dark svg.highcharts-root .highcharts-grid path {
  stroke: rgb(55 65 81 / var(--tw-border-opacity)) !important
}

.dark .chart svg g path {
  stroke: rgb(55 65 81 / var(--tw-border-opacity)) !important
}

.dark .chart svg g text {
  color: #ddd !important;
  fill: #ddd !important
}




.app-bg {
  background-image: url("/src/assets/bg.png");
    background-repeat: repeat-x;
    background-color: #333537;
}








@layer components {
  .btn-primary {
    @apply py-1.5 px-2 mr-1 text-xs font-medium text-gray-900 bg-apple rounded-md border border-apple
    dark:bg-apple dark:text-black dark:border-apple
  }

  .btn-primary:focus {
    @apply outline-none ring-4 ring-gray-200 dark:ring-gray-700
  }

  .btn-primary:hover {
    @apply text-blue-700 dark:text-white dark:bg-gray-700
  }

  .btn-secondary {
    @apply py-1.5 px-2 mr-1 text-xs font-medium text-gray-900 bg-white rounded-md border border-gray-200 
    dark:bg-gray-800 dark:text-apple dark:border-gray-600
  }

  .btn-secondary:focus {
    @apply outline-none ring-4 ring-gray-200 dark:ring-gray-700
  }

  .btn-secondary:hover {
    @apply text-blue-700 dark:text-white dark:bg-gray-700
  }
}

